@import "helpers";

@media screen and (min-width: 800px) {
  .main {
    width: 750px;
    margin: 6rem auto;
    border-radius: 20px;
  }

  .image_container {
    margin: 2.5rem 2.5rem 0;
  }

  .image {
    border-radius: 20px;
  }
}

@media screen and (max-width: 799px) {
  .main {
    width: 100%;
  }

  .image_container {
    margin: 0;
  }

  .footer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.main {
  background: $white;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  margin: 0 2.5rem;
  padding: 2rem 0;
  border-bottom: 1px solid $light_grey;

  &:first-of-type {
    border: none;
  }
}

.main_heading {
  margin: 0 0 1.5rem 0;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: $dark_charcoal;
}

.description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.preparation_container {
  background: $rose_white;
  padding: 2rem;
  border-radius: 10px;
}

.preparation_heading {
  color: $dark_raspberry;
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}

.list {
  padding: 0 1.5rem;
}

.list_items {
  @include list_style($nutmeg);
}

.preparation_list_items {
  @include list_style($dark_raspberry);
}

.section_heading {
  color: $nutmeg;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;

  tbody {
    tr {
      border-bottom: 1px solid $light_grey;

      &:last-of-type {
        border: none;
      }

      td {
        padding: 0.5rem 1.5rem;
        border-collapse: collapse;

        &:nth-of-type(2) {
          color: $nutmeg;
          font-weight: 700;
        }
      }
    }
  }
}
